<!DOCTYPE html>
<html>
<head>
  	<% include ../partials/header.ejs %>
</head>

<body>

  	<canvas id="canvas"></canvas>
  	<div id="user-list" class="user-list"></div>


	<% include ../partials/footer.ejs %>
</body>
</html>
